:root {
    --neutral-600: #395852;
    --neutral-100: #F6F5F1;
    --neutral-900: #163A34;
    --neutral-800: #395852;
    --neutral-300: #D0DCD9;
    --neutral-0: #fff;
    --neutral-200: #E0E6E3;
    --orange-500: #FE9F6B;
}

/* #region Скидання стилів */
* {
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}

/* #endregion */
.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


.nunito-sans {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

p {
    line-height: 150%;
    letter-spacing: -0.4px;
    color: var(--neutral-600);
}

a.btn {
    font-weight: 700;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.5px;
    color: var(--neutral-0);
    display: inline-block;
    padding-inline: 10px;
    align-content: center;
    min-width: 176px;
    max-width: 100%;
    height: 60px;
    background: var(--neutral-900);
    border-radius: 10px;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--neutral-800);

    }

    &:focus {
        border: 3px solid var(--neutral-0);
        outline: 3px solid var(--neutral-900);
    }
}

.container {
    max-width: 363px;
    margin-inline: auto;
    padding-inline: 10px;
}

hr {
    border-color: var(--neutral-300);
    margin: 0;
}

body {
    color: var(--neutral-600);
    background-color: var(--neutral-100);
    font-size: 20px;
}

header {
    padding-block: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: var(--neutral-200);
        border-radius: 4px;
        transition: all 0.3s ease;

        &:hover {
            scale: 1.05;
            rotate: 5deg;
        }

        &:focus {
            border: 3px solid var(--neutral-0);
            outline: 3px solid var(--neutral-900);
        }
    }
}

.main-page main {
    .hero {
        padding-block-start: 48px;

        margin-block-end: 64px;

        div {
            margin-block-end: 40px;
        }

        h1 {
            font-weight: 800;
            font-size: 52px;
            line-height: 110%;
            /* or 57px */
            letter-spacing: -2px;
            color: var(--neutral-900);
            margin-block-end: 16px;

            span {
                position: relative;
            }

            span::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 10px;
                height: 23px;
                background: var(--orange-500);
                z-index: -1;
                opacity: 40%;
                border-radius: 4px;
            }
        }

        p {
            margin-block-end: 32px;
        }

        &>img {
            background: var(--neutral-0);
            box-shadow: 0px 0px 0px 3.45px var(--neutral-0);
            border-radius: 3px;
        }
    }

    .features {
        margin-block-end: 64px;

        h2 {
            margin-block-end: 32px;
        }

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            column-gap: 32px;
        }

        li {
            min-height: 194px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            position: relative;
            padding-block-start: 80px;

            &::before {
                content: "";
                width: 60px;
                height: 60px;
                background-color: var(--neutral-0);
                border-radius: 12px;
                position: absolute;
                top: 0;
                left: 0;
                background-repeat: no-repeat;
                background-position: center;
                border: 1px solid var(--neutral-200);
                box-shadow: 0px 1px 0px var(--neutral-200);
                border-radius: 12px;

            }

            &:nth-child(1)::before {
                content: '';
                background-image: url(/assets/images/icon-whole-food-recipes.svg);
            }

            &:nth-child(2)::before {
                content: '';
                background-image: url(/assets/images/icon-minimum-fuss.svg);
            }

            &:nth-child(3)::before {
                content: '';
                background-image: url(/assets/images/icon-search-in-seconds.svg);
            }
        }

        h3 {
            font-weight: 700;
            font-size: 32px;
            line-height: 130%;
            letter-spacing: -1px;
            color: var(--neutral-900);
            margin-block-end: 12px;
        }
    }



    .built {
        margin-block-end: 64px;

        div {
            margin-block-end: 32px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        img {
            border-radius: 10px;
        }
    }


}

h2 {
    font-weight: 800 !important;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -2px;
    color: var(--neutral-900);
}

.last-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 32px;
    padding: 48px 16px;
    min-height: 353px;
    background: var(--neutral-200);
    border-radius: 16px;

    h2 {
        margin-block-end: 12px;
    }

}

.about-page main,
.recipes-page main {
    section {
        padding-block: 48px;
    }
}

.about-page main {
    .hero {
        padding-block-end: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 40px;
        column-gap: 64px;

        img {
            border-radius: 11px;
        }

        hgroup {
            margin-block-end: 24px;
        }

        h1 {
            text-align: center;
            align-items: center;
            padding: 2px 6px;
            width: fit-content;
            background: var(--orange-500);
            border-radius: 6px;
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            letter-spacing: -0.5px;
            color: var(--neutral-900);
            margin-block-end: 26px;
        }

        h1+p {
            font-weight: 800;
            font-size: 40px;
            line-height: 120%;

            letter-spacing: -2px;
            color: var(--neutral-900)
        }

        div p:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .exist,
    .food {
        h2 {
            margin-block-end: 40px;
        }

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
        }

        li {
            padding-inline-start: 52px;
            position: relative;

            &::before {
                content: "";
                background-image: url(../images/icon-bullet-point.svg);
                width: 32px;
                height: 32px;
                position: absolute;
                top: 0;
                left: 0;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }

        h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: -1px;
            color: var(--neutral-900);
            margin-block-end: 12px;
        }
    }

    .beyond {
        div {
            margin-block-end: 32px;
        }

        h2 {
            margin-block-end: 20px;
        }

        p {
            margin-bottom: 12px;
        }

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 12px;

            li {
                padding-inline-start: 30px;
                line-height: 150%;
                letter-spacing: -0.4px;
                position: relative;

                &::before {
                    content: "";
                    background-color: var(--neutral-800);
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(150%, 150%);
                }
            }
        }

        img {
            border-radius: 11px;
        }
    }
}

.recipes-page main {
    .hero {
        padding-block-end: 48px;

        h1 {
            font-weight: 800;
            font-size: 40px;
            line-height: 120%;
            letter-spacing: -2px;
            color: var(--neutral-900);
            margin-block-end: 12px;
        }

    }

    .recipes {
        form {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            margin-block-end: 24px;
        }

        ul {
            display: flex;
            row-gap: 32px;
            flex-wrap: wrap;

            li {
                display: flex;
                flex-direction: column;
                padding: 8px;
                gap: 16px;
                width: 343px;
                min-height: 554px;
                background: var(--neutral-0);
                border: 1px solid var(--neutral-200);
                box-shadow: 0px 8px 16px -9px rgba(22, 58, 52, 0.16);
                border-radius: 10px;

                img {
                    max-width: 500px;
                    width: 100%;
                    height: 100%;
                    max-height: 300px;
                    object-fit: cover;
                    border-radius: 10px;
                }

                h2 {

                    font-weight: 700;
                    font-size: 20px;
                    line-height: 140%;

                    letter-spacing: -0.5px;

                    color: var(--neutral-900);
                    margin-block-end: 10px;
                }

                p {
                    font-size: 16px;
                    letter-spacing: -0.3px;
                }

                span {
                    font-size: 16px;
                    letter-spacing: -0.3px;
                    color: var(--neutral-900);
                }

                .descr {
                    display: flex;
                    gap: 8px 16px;
                    flex-wrap: wrap;
                    justify-content: start;
                    align-items: center;

                    span {
                        padding-inline-start: 26px;
                        background-repeat: no-repeat;
                        background-position: left center;
                    }

                    span:nth-child(1) {
                        content: "";
                        background-image: url(../images/icon-servings.svg);
                    }

                    span:nth-child(2) {
                        content: "";
                        background-image: url(../images/icon-prep-time.svg);
                    }

                    span:nth-child(3) {
                        content: "";
                        background-image: url(../images/icon-cook-time.svg);
                    }
                }

                a {
                    width: 100%;
                    text-align: center;
                    padding: 12px 32px;
                    background: var(--neutral-900);
                    border-radius: 999px;
                    color: var(--neutral-0);
                }
            }
        }
    }

}

footer {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    align-items: center;
    padding-block: 32px 20px;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

        li {
            min-height: 22px;
            line-height: 0;
        }

        a {
            font-size: 0;
            transition: all 0.3s ease;
            display: block;

            &:hover {
                opacity: 0.7;
            }

            &:focus {
                outline: 2px solid var(--neutral-900);
                border: 2px solid transparent;
                border-radius: 4px;
            }
        }
    }

}